In [2]:
#1 create a class with 4obj  and 4 parameters
class Person:
    def code(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def display(self) :
        print("Name:", self.name,"Age:",self.age,"Gender:",self.gender,"Occupation:",self.occupation)

person1 = Person()
person1.code("Grace", 21, "Female", "Engineer")
person1.display()
person2 = Person()
person2.code("Hari",21,"Male","Devloper")
person2.display()
person3 = Person()
person3.code("Sai",24,"Male","Analyst")
person3.display()
person4 = Person()
person4.code("Jai",23,"Male","Devloper")
person4.display()

Name: Grace Age: 21 Gender: Female Occupation: Engineer
Name: Hari Age: 21 Gender: Male Occupation: Devloper
Name: Sai Age: 24 Gender: Male Occupation: Analyst
Name: Jai Age: 23 Gender: Male Occupation: Devloper

In [3]:
#2 create a class with 4obj  and 4 parameters
class Place :
    def loc(self, name, country, city, population):
        self.name = name
        self.country = country
        self.city = city
        self.population = population

    def display(self):
        print("Name:", self.name, "Country:", self.country, "City:", self.city, "Population:", self.population)


place1 = Place()
place1.loc("Paris", "France", "Paris", 2143271)
place1.display()
place2 = Place()
place2.loc("London", "UK", "London", 8908081)
place2.display()
place3 = Place()
place3.loc("Tokyo", "Japan", "Tokyo", 13929286)
place3.display()
place4 = Place()
place4.loc("New York", "USA", "New York", 19354922)
place4.display()

Name: Paris Country: France City: Paris Population: 2143271
Name: London Country: UK City: London Population: 8908081
Name: Tokyo Country: Japan City: Tokyo Population: 13929286
Name: New York Country: USA City: New York Population: 19354922

In [4]:
#3 create a class with 4obj  and 4 parameters
class Store :

    def shop(self, name, location, product, price):
        self.name = name
        self.location = location
        self.product = product
        self.price = price

    def display(self):
        print("Name:", self.name, "Location:", self.location, "Product:", self.product, "Price:", self.price)


store1 = Store()
store1.shop("Apple", "USA", "iPhone 15", 129000)
store1.display()
store2 = Store()
store2.shop("Samsung", "South Korea", "S24", 135000)
store2.display()
store3 = Store()
store3.shop("Google", "USA", "Pixel", 45000)
store3.display()
store4 = Store()
store4.shop("Oppo", "China", "A16", 12000)
store4.display()

Name: Apple Location: USA Product: iPhone 15 Price: 129000
Name: Samsung Location: South Korea Product: S24 Price: 135000
Name: Google Location: USA Product: Pixel Price: 45000
Name: Oppo Location: China Product: A16 Price: 12000

In [5]:
#4 create a class with 4obj  and 4 parameters
class Animal :
    def animal(self, name, species, type, color) :
        self.name = name
        self.species = species
        self.type = type
        self.color = color

    def display(self):
        print("Name:", self.name, "Species:", self.species, "Type:", self.type, "Color:", self.color)

animal1 = Animal()
animal1.animal("Lion", "Carnivore", "Mammal", "Golden")
animal1.display()
animal2 = Animal()
animal2.animal("Tiger", "Carnivore", "Mammal", "Orange")
animal2.display()
animal3 = Animal()
animal3.animal("Elephant", "Herbivore", "Mammal", "Gray")
animal3.display()
animal4 = Animal()
animal4.animal("Giraffe", "Herbivore", "Mammal", "Brown")
animal4.display()

Name: Lion Species: Carnivore Type: Mammal Color: Golden
Name: Tiger Species: Carnivore Type: Mammal Color: Orange
Name: Elephant Species: Herbivore Type: Mammal Color: Gray
Name: Giraffe Species: Herbivore Type: Mammal Color: Brown

In [6]:
#5 create a class with 4obj  and 4 parameters
class Fruits :
    def fruit(self, name, color, taste, price):
        self.name = name
        self.color = color
        self.taste = taste
        self.price = price

    def display(self):
        print("Name:", self.name, "Color:", self.color, "Taste:", self.taste, "Price:", self.price)

fruit1 = Fruits()
fruit1.fruit("Apple", "Red", "Sweet", 100)
fruit1.display()
fruit2 = Fruits()
fruit2.fruit("Banana", "Yellow", "Sweet", 50)
fruit2.display()
fruit3 = Fruits()
fruit3.fruit("Orange", "Orange", "Citrus", 80)
fruit3.display()
fruit4 = Fruits()
fruit4.fruit("Mango", "Yellow", "Sweet", 150)
fruit4.display()

Name: Apple Color: Red Taste: Sweet Price: 100
Name: Banana Color: Yellow Taste: Sweet Price: 50
Name: Orange Color: Orange Taste: Citrus Price: 80
Name: Mango Color: Yellow Taste: Sweet Price: 150

In [7]:
#6 create a class with 4obj  and 4 parameters
class Subject :

    def subject(self, name, teacher, duration, grade):
        self.name = name
        self.teacher = teacher
        self.duration = duration
        self.grade = grade

    def display(self):
        print("Name:", self.name, "Teacher:", self.teacher, "Duration:", self.duration, "Grade:", self.grade)

subject1 = Subject()
subject1.subject("Mathematics", "Mr. Hari", "1 hour", "A")
subject1.display()
subject2 = Subject()
subject2.subject("English", "Ms. Archana", "1 hour", "B")
subject2.display()
subject3 = Subject()
subject3.subject("Science", "Mr. Ashok", "1 hour", "A")
subject3.display()
subject4 = Subject()
subject4.subject("History", "Ms. Lakshmi", "1 hour", "B")
subject4.display()

Name: Mathematics Teacher: Mr. Hari Duration: 1 hour Grade: A
Name: English Teacher: Ms. Archana Duration: 1 hour Grade: B
Name: Science Teacher: Mr. Ashok Duration: 1 hour Grade: A
Name: History Teacher: Ms. Lakshmi Duration: 1 hour Grade: B

In [8]:
#1 create a class using Constructor with display change using the classmethod 
class Student :

    def __init__(self, name, age, gender, grade='12th'):
        self.name = name
        self.age = age
        self.gender = gender
        self.grade = grade
        self.display()

    @classmethod
    def change(cls, grade):
        
        cls.grade = grade

    def display(self):
        print("Name:", self.name, "Age:", self.age, "Gender:", self.gender, "Grade:", self.grade)
student1 = Student("Hari", 15, "Male", )
student2 = Student("Grace", 16, "Female", "11th")
Student.change('10th')
student3 = Student("Hamid", 14, "Male", )
student4 = Student("Akshita", 17, "Female", "12th")

Name: Hari Age: 15 Gender: Male Grade: 12th
Name: Grace Age: 16 Gender: Female Grade: 11th
Name: Hamid Age: 14 Gender: Male Grade: 12th
Name: Akshita Age: 17 Gender: Female Grade: 12th

In [9]:

class Student :

    def __init__(self, name, age, gender, grade):
        self.name = name
        self.age = age
        self.gender = gender
        self.grade = grade
        self.display()

    def display(self):
        print("Name:", self.name, "Age:", self.age, "Gender:", self.gender, "Grade:", self.grade)
s1=Student(input())

TypeError: Student.__init__() missing 3 required positional arguments: 'age', 'gender', and 'grade'

In [ ]:
#2 create a class using Constructor with display automatically
class Employee :

    def __init__(self, name, age, gender, salary):
        self.name = name
        self.age = age
        self.gender = gender
        self.salary = salary
        self.display()

    def display(self):
        print("Name:", self.name, "Age:", self.age, "Gender:", self.gender, "Salary:", self.salary)
employee1 = Employee("Hari", 25, "Male", 50000)
employee2 = Employee("Grace", 30, "Female", 60000)
employee3 = Employee("Hamid", 35, "Male", 70000)
employee4 = Employee("Akshita", 40, "Female", 80000)

Name: Hari Age: 25 Gender: Male Salary: 50000
Name: Grace Age: 30 Gender: Female Salary: 60000
Name: Hamid Age: 35 Gender: Male Salary: 70000
Name: Akshita Age: 40 Gender: Female Salary: 80000

In [ ]:
#3 create a class using Constructor with display automatically and default values
class Car:
    def __init__(self, name=None, color=None, model="Not Provided", year=2022):
        year=2023
        self.name = name
        self.color = color
        self.model = model
        self.year = year
        self.display()
    @classmethod
    def change(cls,data):
        cls.year=data

    def display(self):
        print("Name:", self.name, "Color:", self.color, "Model:", self.model, "Year:", self.year)

car1 = Car("Toyota", "Red", "Corolla", 2015)
car2 = Car("Honda", "Blue", "Civic", 2018)
car3 = Car("Ford", "Black",)
Car.change(2024)
car4 = Car("Chevrolet", "White", "Camaro")
car5 = Car()  
car6 = Car("Tesla")

Name: Toyota Color: Red Model: Corolla Year: 2023
Name: Honda Color: Blue Model: Civic Year: 2023
Name: Ford Color: Black Model: Not Provided Year: 2023
Name: Chevrolet Color: White Model: Camaro Year: 2023
Name: None Color: None Model: Not Provided Year: 2023
Name: Tesla Color: None Model: Not Provided Year: 2023

In [ ]:
#4 create a class using Constructor with display automatically and default values and parameters
class Fruits:
    quantity="2"
    def __init__(self, name, color, taste, quantity):
        self.name = name
        self.color = color
        self.taste = taste
        self.quantity = quantity
        self.display()

    @classmethod
    def change(cls, data):
        cls.quantity = data

    def display(self):
        print(f"Name: {self.name}, Color: {self.color}, Taste: {self.taste}, Quantity: {self.quantity}")



Fruits.change('3')

TypeError: Fruits.__init__() missing 4 required positional arguments: 'name', 'color', 'taste', and 'quantity'

In [ ]:

#5 create a class using Constructor with display automatically and default values and parameters and methods
class Subject:
    def __init__(self, name="Not Provided", teacher="Not Provided", duration="Not Provided", grade="Not Given"):
        self.name = name
        self.teacher = teacher
        self.duration = duration
        self.grade = grade
        self.display()

    def display(self):
        print(f"{self.name} {self.teacher} {self.duration} {self.grade}")
    def change_teacher(self, new_teacher):
        self.teacher = new_teacher
        print(f"New teacher for {self.name} is {self.teacher}")

subject1 = Subject("Mathematics", "Mr. Kumar", "2 hours", "10th")
Subject.change_teacher("Mr. Hari")

Mathematics Mr. Kumar 2 hours 10th

TypeError: Subject.change_teacher() missing 1 required positional argument: 'new_teacher'

In [ ]:
class animal:
    name='Type Name'
    type='Mammal'
    def __init__(self, name, type, color) :
        self.name = name
        self.type = type
        self.color = color

class food (animal):
    species="Herbi"
    def add(self,species):
        self.species=species

    def display(self):
        print(self.name,self.type,self.color,self.species)

#class display(food):
    


f1=food('elephant','mammal','Grey')
f2=food("abc","sdf","fgh")
f2.add("ghj")
f1.display()
f2.display()

elephant mammal Grey Herbi
abc sdf fgh ghj

In [ ]:
class watch:
    brand=None
    price="more than 100000"
    type=None
    gender=None
    shape=None
    def __init__(self ,brand,price,type,gender,shape):
        self.brand
        self.price
        self.type
        self.gender
        self.shape

class watch1(watch):
    def __init__(self, brand, price, type, gender, shape,metal,stripe,screen,quan):
        super().__init__(brand, price, type, gender, shape)
        self.metal=metal
        self.screen=screen
        self.stripe=stripe
        self.quan=quan


    def disp(self):
        print(self.brand,self.price,self.type,self.gender,self.shape,self.metal,self.stripe,self.screen,self.quan)

w1=watch1('casino',1000000,'digital','uni','square','platinum','metal','touch',2)
w1.disp()

None more than 100000 None None None platinum metal touch 2

In [ ]:
class stud:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def disp(self):
        print("Name ",self.name, "Age ",self.age)
class stud1(stud):
    def __init__(self,name,age,roll):
        super().__init__(name,age)
        self.roll=roll
    def disp(self):
        super().disp()
        print("Roll",self.roll)
s1=stud1("hari",21,123)
s1.disp()

Name  hari Age  21
Roll 123

In [ ]:
#WAP for req create a class employee with 5 object variables 
#create a constructor 
#create a display()
#create a sub class developer
#it contains 8 object variable and create a display method 
#create 2 object for subclass and call respective method

class Employee:
    def __init__(self, name, age, gender, salary, address):
        self.name = name
        self.age = age
        self.gender = gender
        self.salary = salary
        self.address = address
    def display(self):
        print("Name:", self.name, "Age:", self.age, "Gender:", self.gender, "Salary:", self.salary, "Address:", self.address)

class Developer(Employee):
    def __init__(self, name, age, gender, salary, address, language, skills):
        super().__init__(name, age, gender, salary, address)
        self.language = language
        self.skills = skills
    def display(self):
        super().display()
        print("Language:", self.language, "Skills:", self.skills)


dev1 = Developer("Hari", 21, "Male", 50000, "Chennai", "Python","Fullstack")
dev1.display()

Name: Hari Age: 21 Gender: Male Salary: 50000 Address: Chennai
Language: Python Skills: Fullstack

In [ ]:
#inheritance single level
class Subject:
    def __init__(self, name, teacher, duration, grade):
        self.name = name
        self.teacher = teacher
        self.duration = duration
        self.grade = grade
        self.display()

    def display(self):
        print(f"{self.name} {self.teacher} {self.duration} {self.grade}")

class Course(Subject):
    def __init__(self, name, teacher, duration, grade,course,institute):
        super().__init__(self,name,teacher, duration, grade)
        self.course = course
        self.institute = institute
        self.display()

    def display(self):
        super().display()
        print(f"{self.course} {self.institute}")

subject1 = Subject("Mathematics", "Mr. Kumar", "2 hours", "10th")

course1 = Course("Mathematics", "Mr. Kumar", "2 hours", "10th", "Mathematics", "ABC")

Mathematics Mr. Kumar 2 hours 10th

TypeError: Subject.__init__() takes 5 positional arguments but 6 were given

In [ ]:
#inheritance multi level
class Parent:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        self.display()

    def display(self):
        print("Name:", self.name, "Age:", self.age, "Gender:", self.gender)
class Child(Parent):
    def __init__(self, name, age, gender, grade):
        super().__init__(name, age, gender)
        self.grade = grade
        self.display()

    def display(self):
        super().display()
        print("Grade:", self.grade)
class GrandChild(Child):
    def __init__(self, name, age, gender, grade, section):
        super().__init__(name, age, gender, grade)
        self.section = section
        self.display()

    def display(self):
        super().display()
        print("Section:", self.section)

parent1 = Parent("Hari", 21, "Male")
child1 = Child("Hari", 21, "Male", "10th")
grandchild1 = GrandChild("Hari", 21, "Male", "10th", "A")

Name: Hari Age: 21 Gender: Male
Name: Hari Age: 21 Gender: Male

AttributeError: 'Child' object has no attribute 'grade'

In [ ]:
class Building:
    def __init__(self, address, year_built):
        self.address = address
        self.year_built = year_built

class Residential(Building):
    def __init__(self, address, year_built, num_units, has_garden):
        super().__init__(address, year_built)
        self.num_units = num_units
        self.has_garden = has_garden

class Apartment(Residential):
    def __init__(self, address, year_built, num_units, has_garden, unit_number, floor):
        super().__init__(address, year_built, num_units, has_garden)
        self.unit_number = unit_number
        self.floor = floor

apartment = Apartment("123 Elm St", 2005, 10, True, "101", 1)
print(apartment.address, apartment.year_built, apartment.num_units, apartment.has_garden, apartment.unit_number, apartment.floor)

123 Elm St 2005 10 True 101 1

In [10]:
class Shape:
    def __init__(self, color, border_thickness):
        self.color = color
        self.border_thickness = border_thickness

class Circle(Shape):
    def __init__(self, color, border_thickness, radius):
        super().__init__(color, border_thickness)
        self.radius = radius

class Rectangle(Shape):
    def __init__(self, color, border_thickness, length, width):
        super().__init__(color, border_thickness)
        self.length = length
        self.width = width

circle = Circle("Red", 2, 5)
rectangle = Rectangle("Blue", 3, 10, 20)
print(circle.color, circle.border_thickness, circle.radius)
print(rectangle.color, rectangle.border_thickness, rectangle.length, rectangle.width)

Red 2 5
Blue 3 10 20

In [12]:
class Employee:
    def __init__(self, name, employee_id):
        self.name = name
        self.employee_id = employee_id

class Manager(Employee):
    def __init__(self, name, employee_id, department, num_reports):
        super().__init__(name, employee_id)
        self.department = department
        self.num_reports = num_reports

class SeniorManager(Manager):
    def __init__(self, name, employee_id, department, num_reports, region, years_experience):
        super().__init__(name, employee_id, department, num_reports)
        self.region = region
        self.years_experience = years_experience

senior_manager = SeniorManager("Alice", "SM123", "IT", 10, "North America", 15)
print(senior_manager.name, senior_manager.employee_id, senior_manager.department, senior_manager.num_reports, senior_manager.region, senior_manager.years_experience)

Alice SM123 IT 10 North America 15

In [13]:
class Employee:
    def __init__(self, name, employee_id):
        self.name = name
        self.employee_id = employee_id

class Manager(Employee):
    def __init__(self, name, employee_id, department, num_reports):
        super().__init__(name, employee_id)
        self.department = department
        self.num_reports = num_reports

class SeniorManager(Manager):
    def __init__(self, name, employee_id, department, num_reports, region, years_experience):
        super().__init__(name, employee_id, department, num_reports)
        self.region = region
        self.years_experience = years_experience

senior_manager = SeniorManager("Alice", "SM123", "IT", 10, "North America", 15)
print(senior_manager.name, senior_manager.employee_id, senior_manager.department, senior_manager.num_reports, senior_manager.region, senior_manager.years_experience)

Alice SM123 IT 10 North America 15

In [14]:
class Animal:
    def __init__(self, species, habitat):
        self.species = species
        self.habitat = habitat

class Mammal(Animal):
    def __init__(self, species, habitat, fur_color, has_live_birth):
        super().__init__(species, habitat)
        self.fur_color = fur_color
        self.has_live_birth = has_live_birth

class Dog(Mammal):
    def __init__(self, species, habitat, fur_color, has_live_birth, breed, size):
        super().__init__(species, habitat, fur_color, has_live_birth)
        self.breed = breed
        self.size = size

dog = Dog("Canine", "Domestic", "Brown", True, "Labrador", "Large")
print(dog.species, dog.habitat, dog.fur_color, dog.has_live_birth, dog.breed, dog.size)

Canine Domestic Brown True Labrador Large

In [15]:
class Vehicle:
    def __init__(self, make, model):
        self.make = make
        self.model = model

class Car(Vehicle):
    def __init__(self, make, model, num_doors, fuel_type):
        super().__init__(make, model)
        self.num_doors = num_doors
        self.fuel_type = fuel_type

class Truck(Vehicle):
    def __init__(self, make, model, cargo_capacity, num_wheels):
        super().__init__(make, model)
        self.cargo_capacity = cargo_capacity
        self.num_wheels = num_wheels

car = Car("Toyota", "Camry", 4, "Gasoline")
truck = Truck("Ford", "F-150", "1000kg", 6)
print(car.make, car.model, car.num_doors, car.fuel_type)
print(truck.make, truck.model, truck.cargo_capacity, truck.num_wheels)

Toyota Camry 4 Gasoline
Ford F-150 1000kg 6

In [1]:

#Multiple Inheritance 
class Species:
    def __init__(self, name, habitat):
        self.name = name
        self.habitat = habitat
    
class Animal:
    def __init__(self,color, type):
        self.color=color
        self.type=type

class display(Species,Animal):
    def __init__(self, name, habitat,color,type):
        super().__init__(name, habitat,color,type)
    def display():
        print(super.name,super.habitat,super.color,super.type)
c1=display(name='Tiger',habitat='domestic',color='black n yellow',type='omniover')

TypeError: Species.__init__() takes 3 positional arguments but 5 were given

In [ ]:
class A:
class B:
class C(A,B):

In [1]:
class Smart_Home:
    def __init__(self, name, location):
        self.name = name
        self.location = location
    def display(self):
        print("Name:", self.name, "Location:", self.location)

class WifiControl(Smart_Home):
    def __init__(self, name, location, password):
        super().__init__(name, location)
        self.password = password
    def display(self):
        print("Name:", self.name, "Location:", self.location, "Password:", self.password)

class LightControl(Smart_Home):
    def __init__(self, name, location, brightness):
        super().__init__(name, location)
        self.brightness = brightness
    def display(self):
        print("Name:", self.name, "Location:", self.location, "Brightness:", self.brightness)

wifi = WifiControl("Home", "Bengaluru", "123456")
wifi.display()
light = LightControl("Office", "hyderabad", 30)
light.display()

Name: Home Location: Bengaluru Password: 123456
Name: Office Location: hyderabad Brightness: 50

In [11]:

class SoundSystem:
    def __init__(self, name, volume):
        self.name = name
        self.volume = volume
    def display(self):
        print("Name:", self.name, "Volume:", self.volume)
class RemoteControl:
    def __init__(self, name, volume):
        self.name = name
        self.volume = volume
    def display(self):
        print("Name:", self.name, "Volume:", self.volume)
class TouchScreen:
    def __init__(self, name, volume):
        self.name = name
        self.volume = volume
    def display(self):
        print("Name:", self.name, "Volume:", self.volume)   
class MusicPlayer(SoundSystem, RemoteControl, TouchScreen):
    def __init__(self, name, volume, song):
        super().__init__(name, volume)
        self.song = song
    def display(self):
        print("Name:", self.name, "Volume:", self.volume, "Song:", self.song)

mp = MusicPlayer("Sony", 10, "Despacito")
mp.display()

Name: Sony Volume: 10 Song: Despacito

In [2]:
class Employee:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def display(self):
        print("Name:", self.name, "Age:", self.age, "Gender:", self.gender)
class EmployeeBenefits(Employee):
    def __init__(self, name, age, gender, health_insurance, retirement_plan):
        super().__init__(name, age, gender)
        self.health_insurance = health_insurance
        self.retirement_plan = retirement_plan

    def display(self):
        super().display()
        print("Health Insurance:", self.health_insurance, "Retirement Plan:", self.retirement_plan)

emp = EmployeeBenefits("Hari", 25, "Male", "Health Insurance", "Retirement Plan")
emp.display()

Name: Hari Age: 25 Gender: Male
Health Insurance: Health Insurance Retirement Plan: Retirement Plan

In [3]:
class CreditCardPayment:
    def __init__(self, card_number, expiration_date, security_code):

        self.card_number = card_number
        self.expiration_date = expiration_date
        self.security_code = security_code

    def display(self):
        print("Card Number:", self.card_number, "Expiration Date:", self.expiration_date, "Security Code:", self.security_code)
class PayPalPayment:
    def __init__(self, email, password):

        self.email = email
        self.password = password

    def display(self):
        print("Email:", self.email, "Password:", self.password)
class OnlineShoppingPlatform(CreditCardPayment, PayPalPayment):
    def __init__(self, card_number, expiration_date, security_code, email, password):
        super().__init__(card_number, expiration_date, security_code)
        self.email = email
        self.password = password

    def display(self):
        super().display()
        print("Email:", self.email, "Password:", self.password)

os = OnlineShoppingPlatform("1234567890123456", "12/25", "123", "H8j8Y@example.com", "mypassword")
os.display()

Card Number: 1234567890123456 Expiration Date: 12/25 Security Code: 123
Email: H8j8Y@example.com Password: mypassword

In [6]:
class ScientificCalculations:
    def __init__(self, number1, number2):

        self.number1 = number1
        self.number2 = number2

    def display(self):
        print("Number1:", self.number1, "Number2:", self.number2)
class FinancialCalculations:
    def __init__(self, number1, number2):

        self.number1 = number1
        self.number2 = number2

    def display(self):
        print("Number1:", self.number1, "Number2:", self.number2)
class AdvancedCalculator(ScientificCalculations, FinancialCalculations):
    def __init__(self, number1, number2, number3, number4):

        super().__init__(number1, number2)
        self.number3 = number3
        self.number4 = number4

    def display(self):
        super().display()
        print("Number3:", self.number3, "Number4:", self.number4)

ac = AdvancedCalculator(10, 20, 30, 40)
ac.display()

Number1: 10 Number2: 20
Number3: 30 Number4: 40

In [11]:
class Person:
    def __init__(self, name, age):

        self.name = name
        self.age = age

    def display(self):
        print("Name:", self.name, "Age:", self.age)
class Teacher(Person):
    def __init__(self, name, age, subject):

        super().__init__(name, age)
        self.subject = subject

    def display(self):
        super().display()
        print("Subject:", self.subject)

class PartTimeTeacher(Teacher):
    def __init__(self, name, age, subject):

        super().__init__(name, age, subject)

    def display(self):
        super().display()

pt = PartTimeTeacher("Hari", 25, "Mathematics")
pt.display()

Name: Hari Age: 25
Subject: Mathematics

In [18]:
class Vehicle:
    def __init__(self, make, model):

        self.make = make
        self.model = model

    def display(self):
        print("Make:", self.make, "Model:", self.model)
class PassengerVehicle(Vehicle):
    def __init__(self, make, model, num_seats):

        super().__init__(make, model)
        self.num_seats = num_seats

    def display(self):
        super().display()
        print("Number of Seats:", self.num_seats)
class CommercialVehicle(Vehicle):
    def __init__(self, make, model, num_wheels):

        super().__init__(make, model)
        self.num_wheels = num_wheels

    def display(self):
        super().display()
        print("Number of Wheels:", self.num_wheels)
class RideShareVehicle(PassengerVehicle, CommercialVehicle):
    def __init__(self, make, model, num_seats, num_wheels):

        super().__init__(make, model, num_seats)
        self.num_wheels = num_wheels

    def display(self):
        super().display()
        print("Number of Wheels:", self.num_wheels)

rv = RideShareVehicle("Toyota", "Camry", 5, 4)
rv.display()

TypeError: CommercialVehicle.__init__() missing 1 required positional argument: 'num_wheels'

In [8]:
class Media:
    def __init__(self, title, director, release_year):

        self.title = title
        self.director = director
        self.release_year = release_year

    def display(self):
        print("Title:", self.title, "Director:", self.director, "Release Year:", self.release_year)
class Music(Media):
    def __init__(self, title, director, release_year, genre):

        super().__init__(title, director, release_year)
        self.genre = genre

    def display(self):
        super().display()   
        print("Genre:", self.genre)
class Movie(Media):
    def __init__(self, title, director, release_year, duration):

        super().__init__(title, director, release_year)
        self.duration = duration

    def display(self):
        super().display()
        print("Duration:", self.duration)
class MusicVideo(Music, Movie):
    def __init__(self, title, director, release_year, genre, duration):

        super().__init__(title, director, release_year, genre)
        self.duration = duration

    def display(self):
        super().display()
        print("Duration:", self.duration)

mv = MusicVideo("The Dark Knight", "Christopher Nolan", 2008, "Action", "2 hours")
mv.display()

TypeError: Movie.__init__() missing 1 required positional argument: 'duration'

In [9]:

class Person:
    def __init__(self, name, position):

        self.name = name
        self.position = position

    def display(self):
        print("Name:", self.name, "Position:", self.position)
class Manager(Person):
    def __init__(self, name, position, team_size):

        super().__init__(name, position)
        self.team_size = team_size

    def display(self):
        super().display()
        print("Team Size:", self.team_size)
class Developer(Person):
    def __init__(self, name, position, experience):

        super().__init__(name, position)
        self.experience = experience

    def display(self):
        super().display()
        print("Experience:", self.experience)
class LeadDeveloper(Manager, Developer):
    def __init__(self, name, position, team_size, experience):

        super().__init__(name, position, team_size)
        self.experience = experience

    def display(self):
        super().display()
        print("Experience:", self.experience)

ld = LeadDeveloper("Hari", "Manager", 10, 5)
ld.display()

TypeError: Developer.__init__() missing 1 required positional argument: 'experience'

In [17]:
class LibraryItem:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def display(self):
        print("Title:", self.title, "Author:", self.author)

class Book(LibraryItem):
    def __init__(self, title, author, pages):
        super().__init__(title, author)
        self.pages = pages

    def display(self):
        super().display()
        print("Pages:", self.pages)

class Magazine(LibraryItem):
    def __init__(self, title, author, issues):
        super().__init__(title, author)
        self.issues = issues

    def display(self):
        super().display()
        print("Issues:", self.issues)

class DigitalLibraryItem(Book, Magazine):
    def __init__(self, title, author, pages, issues):
        Book.__init__(self, title, author, pages)
        Magazine.__init__(self, title, author, issues)

    def display(self):
        Book.display(self)
        print("Issues:", self.issues)

dl = DigitalLibraryItem("The Great Gatsby", "F. Scott Fitzgerald", 400, 10)
dl.display()

TypeError: Magazine.__init__() missing 1 required positional argument: 'issues'

In [ ]:
#write a program using operator overloading
class Complex:
    def __init__(self, real, imaginary):
        self.real = real
        self.imaginary = imaginary

    def __add__(self, other):
        real = self.real + other.real
        imaginary = self.imaginary + other.imaginary
        return Complex(real, imaginary)

    def __sub__(self, other):
        real = self.real - other.real
        imaginary = self.imaginary - other.imaginary
        return Complex(real, imaginary)
    
    def __mul__(self, other):
        real = self.real * other.real - self.imaginary * other.imaginary
        imaginary = self.real * other.imaginary + self.imaginary * other.real
        return Complex(real, imaginary)
    
    def __truediv__(self, other):
        real = (self.real * other.real + self.imaginary * other.imaginary) / (other.real**2 + other.imaginary**2)
        imaginary = (self.imaginary * other.real - self.real * other.imaginary) / (other.real**2 + other.imaginary**2)
        return Complex(real, imaginary)
    
    def __str__(self):
        return f"{self.real} + {self.imaginary}i"
    

c1 = Complex(2, 3)
c2 = Complex(4, 5)
c3 = c1 + c2
print(c3)
c4 = c1 - c2
print(c4)
c5 = c1 * c2
print(c5)
c6 = c1 / c2
print(c6)

: